@model AccountingStaff.Web.ViewModels.CalendarDateViewModel

@{
    ViewBag.Title = "Детальна інформація про дату неявки на роботу";
}

<h2>Детальна інформація про дату неявки на роботу</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameEmployer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameEmployer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("< Назад до таблиці", "Index", null, new { @class = "btn-blue" })&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Редагувати", "Edit", new { id = Model.Id },new { @class = "btn-green" }) 
</p>
