
@{
    ViewBag.Title = "Admin Menu";
}

<h2>Admin menu</h2>

<hr/>

<ul>
    <li>@Html.ActionLink("Calendar Date Table", "Index", "CalendarDate")</li>
    <li>@Html.ActionLink("Departament Table", "Index", "Department")</li>

    <li>@Html.ActionLink("Person Table", "Index", "Person")</li>
    <li>@Html.ActionLink("Person Info Table", "Index", "PersonInfo")</li>
    <li>@Html.ActionLink("Phones Table", "Index", "Phones")</li>
    <li>@Html.ActionLink("Rfids Table", "Index", "Rfids")</li>
    <li>@Html.ActionLink("Role Table", "Index", "Role")</li>
    <li>@Html.ActionLink("Work Day Times Table", "Index", "WorkDayTimes")</li>
    <li>@Html.ActionLink("Work Schedule Table", "Index", "WorkSchedule")</li>
</ul>


